/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/cargas
/storage/app/simulaciones
/storage/app/convalidaciones
/storage/app/postulantes
/backups
/scripts/_*.txt
/docs/_*.txt
.env
.env.backup
.phpunit.result.cache
npm-debug.log
yarn-error.log
/.idea
/.vscode
